[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BaM"]
	path = BaM
	url = https://github.com/cran/BaM
[submodule "hot.deck"]
	path = hot.deck
	url = https://github.com/cran/hot.deck
